<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#PARTIE-1" data-toc-modified-id="PARTIE-1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>PARTIE 1</a></span></li><li><span><a href="#Q1.-Proportion-de-personnes-en-état-de-sous-nutrition" data-toc-modified-id="Q1.-Proportion-de-personnes-en-état-de-sous-nutrition-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Q1. Proportion de personnes en état de sous-nutrition</a></span></li><li><span><a href="#Q2.-Nombre-théorique-de-personnes-qui-pourraient-être-nourries." data-toc-modified-id="Q2.-Nombre-théorique-de-personnes-qui-pourraient-être-nourries.-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Q2. Nombre théorique de personnes qui pourraient être nourries.</a></span></li><li><span><a href="#Q3.-Idem-pour-la-disponibilité-alimentaire-des-produits-végétaux" data-toc-modified-id="Q3.-Idem-pour-la-disponibilité-alimentaire-des-produits-végétaux-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Q3. Idem pour la disponibilité alimentaire des produits végétaux</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Conclusion-Q1/Q2/Q3" data-toc-modified-id="Conclusion-Q1/Q2/Q3-4.0.1"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span>Conclusion Q1/Q2/Q3</a></span></li></ul></li></ul></li><li><span><a href="#Q4.-Quelle-est-l’utilisation-de-la-disponibilité-intérieure,-en-particulier-la-part-qui-est-attribuée-à-l’alimentation-animale,-celle-qui-est-perdue-et-celle-qui-est-concrètement-utilisée-pour-l'alimentation-humaine." data-toc-modified-id="Q4.-Quelle-est-l’utilisation-de-la-disponibilité-intérieure,-en-particulier-la-part-qui-est-attribuée-à-l’alimentation-animale,-celle-qui-est-perdue-et-celle-qui-est-concrètement-utilisée-pour-l'alimentation-humaine.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Q4. Quelle est l’utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine.</a></span></li><li><span><a href="#Q5.-Requêtes-additionnelles" data-toc-modified-id="Q5.-Requêtes-additionnelles-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Q5. Requêtes additionnelles</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Q5.1-Notes-et-recherches-de-Julien:" data-toc-modified-id="Q5.1-Notes-et-recherches-de-Julien:-6.0.1"><span class="toc-item-num">6.0.1&nbsp;&nbsp;</span>Q5.1 Notes et recherches de Julien:</a></span></li><li><span><a href="#Q5.2-Notes-et-recherches-de-Julien-(suite):" data-toc-modified-id="Q5.2-Notes-et-recherches-de-Julien-(suite):-6.0.2"><span class="toc-item-num">6.0.2&nbsp;&nbsp;</span>Q5.2 Notes et recherches de Julien (suite):</a></span></li></ul></li></ul></li><li><span><a href="#PARTIE-2" data-toc-modified-id="PARTIE-2-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>PARTIE 2</a></span></li><li><span><a href="#Q6.-Pays-pour-lesquels-la-proportion-de-personnes-sous-alimentées-est-la-plus-forte-en-2017" data-toc-modified-id="Q6.-Pays-pour-lesquels-la-proportion-de-personnes-sous-alimentées-est-la-plus-forte-en-2017-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Q6. Pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017</a></span></li><li><span><a href="#Q7.-Ceux-qui-ont-le-plus-bénéficié-d’aide-depuis-2013" data-toc-modified-id="Q7.-Ceux-qui-ont-le-plus-bénéficié-d’aide-depuis-2013-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Q7. Ceux qui ont le plus bénéficié d’aide depuis 2013</a></span></li><li><span><a href="#Q8.-Ceux-ayant-le-plus/le-moins-de-disponibilité/habitant,-etc.," data-toc-modified-id="Q8.-Ceux-ayant-le-plus/le-moins-de-disponibilité/habitant,-etc.,-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Q8. Ceux ayant le plus/le moins de disponibilité/habitant, etc.,</a></span></li></ul></div>

# PARTIE 1
_Les données sur lesquelles j’aimerais particulièrement avoir des informations sont, pour l’année 2017 :_

_- la proportion de personnes en état de sous-nutrition ;_

_- le nombre théorique de personnes qui pourraient être nourries. Tu devrais pouvoir calculer ça à partir de la disponibilité alimentaire mondiale ;_

_- idem pour la disponibilité alimentaire des produits végétaux ;_

_- l’utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine. Je crois que Julien avait trouvé un moyen de facilement calculer ces proportions._

In [1]:
import pandas as pd

# Q1. Proportion de personnes en état de sous-nutrition
1. Calcul de la population totale en 2017

In [2]:
# Importation des données population
population = pd.read_csv('population.csv')

# Nettoyage des données
# La population du pays exprimée en milliers d’habitants, convertir en millions
population['Valeur'] = population['Valeur']/1000
# Renommer la colonne valeur afin d'avoir l'unité de population visible
population.rename(columns={'Valeur': 'Population(millions)'}, inplace=True)

# Résultat
filt_2017 = population[population['Année'] == 2017]
pop_2017 = filt_2017['Population(millions)'].sum()
print('Total population en 2017 : {:.2f} millions '.format(pop_2017))

Total population en 2017 : 7548.13 millions

2. Calcul de la population en sous-nutrition en 2017

In [3]:
# Importation des données sous-nutrition
sous_nutri = pd.read_csv('sous_nutrition.csv')

# Renommer colonne pour plus de clarté + unité de population
sous_nutri.rename(
    columns={'Valeur': 'Population sous-alimentée (millions)'},
    inplace=True
)
# Split de la colonne Année en 2, afin de calculer la moyenne
sous_nutri[['A1', 'A2']] = sous_nutri['Année'].str.split('-', expand=True)
sous_nutri['A1'] = sous_nutri['A1'].astype('int64')
sous_nutri['A2'] = sous_nutri['A2'].astype('int64')
sous_nutri['Année'] = ((sous_nutri['A1']+sous_nutri['A2'])/2).astype('int64')
sous_nutri.drop(columns=['A1', 'A2'], inplace=True)

# Remplacer les NA en 0
sous_nutri['Population sous-alimentée (millions)'].fillna(0, inplace=True)

# Remplacer les valeurs <0.1 par 0
sous_nutri['Population sous-alimentée (millions)'] = (
    sous_nutri['Population sous-alimentée (millions)']
    .str
    .replace('<0.1', '0')
    .astype('float')
)

# Résultat
filt_sn_2017 = sous_nutri[sous_nutri['Année'] == 2017]
sn_2017 = filt_sn_2017['Population sous-alimentée (millions)'].sum()
print(
    'Total population en sous-nutrition en 2017 : {:.2f} millions '
    .format(sn_2017)
)

Total population en sous-nutrition en 2017 : 535.70 millions

3. Résultat

In [4]:
print(
    'Proportion de personnes en état de sous-nutrition en 2017 : {:.2f}%'
    .format(sn_2017/pop_2017*100)
)

Proportion de personnes en état de sous-nutrition en 2017 : 7.10%

# Q2. Nombre théorique de personnes qui pourraient être nourries. 
(calcul à partir de la disponibilité alimentaire mondiale)

Note : Calories moyennes par personne est de 2200 (selon source:https://www.data.gouv.fr/fr/reuses/calculateur-de-calories/)

In [5]:
# Importation des données de disponibilité alimentaire mondiale
dispo_a = pd.read_csv('dispo_alimentaire.csv')

# Garder les colonnes pertinentes
dispo = (dispo_a.drop([
    'Aliments pour animaux',
    'Autres Utilisations',
    'Disponibilité alimentaire en quantité (kg/personne/an)',
    'Disponibilité de matière grasse en quantité (g/personne/jour)',
    'Disponibilité de protéines en quantité (g/personne/jour)',
    'Disponibilité intérieure',
    'Exportations - Quantité',
    'Importations - Quantité',
    'Nourriture',
    'Pertes',
    'Production',
    'Semences',
    'Traitement',
    'Variation de stock'],
    axis=1))

# Grouper par disponibilités alimentaires en calories/pers/jour par pays
grp_pays = dispo.groupby('Zone')

# Fusion DF population avec les disponibilités alimentaires mondiales
q2 = (pd.DataFrame(grp_pays['Disponibilité alimentaire (Kcal/personne/jour)']
                   .sum()
                   .reset_index()))
filt_2017 = filt_2017.reset_index()
q2 = pd.merge(filt_2017, q2, on='Zone', how='left')

# Dispo alimentaire mondiale
q2['Total_dispo'] = (q2['Population(millions)']
                     * q2['Disponibilité alimentaire (Kcal/personne/jour)']
                     * 1_000_000)

# Résultat
nb = (q2['Total_dispo'].sum())/2200
print('Nombre théorique de personnes qui pourraient être nourries {:.0f}'
      .format(nb))
print('Population mondiale {:.0f}'
      .format(pop_2017*1_000_000))
print(
    'Proportion de pers. qui théoriquement pourraient être nourries {:.2f}%'
    .format(nb/(pop_2017*1_000_000)*100))

Nombre théorique de personnes qui pourraient être nourries 9508629376
Population mondiale 7548134111
Proportion de pers. qui théoriquement pourraient être nourries 125.97%

# Q3. Idem pour la disponibilité alimentaire des produits végétaux

In [6]:
# Filtre sur la disponibilité alimentaire d'origine végétale
filt_veg = pd.DataFrame(dispo[dispo['Origine'] == 'vegetale'].reset_index())
grp_pays_v = filt_veg.groupby('Zone')
q3 = pd.DataFrame(grp_pays_v['Disponibilité alimentaire (Kcal/personne/jour)']
                  .sum()
                  .reset_index())
q3 = pd.merge(filt_2017, q3, on='Zone', how='left')
q3['Total_dispo'] = (q3['Population(millions)']
                     * q3['Disponibilité alimentaire (Kcal/personne/jour)']
                     * 1_000_000)

# Résultat
nb = (q3['Total_dispo'].sum())/2200
print('Nombre théorique de personnes qui pourraient être nourries \
seulement avec les produits végétaux {:.0f}'
      .format(nb))
print('Proportion de personnes qui théoriquement pourraient être nourries \
seulement avec les produits végétaux {:.2f}%'
      .format(nb/(pop_2017*1_000_000)*100))

Nombre théorique de personnes qui pourraient être nourries seulement avec les produits végétaux 7845801914
Proportion de personnes qui théoriquement pourraient être nourries seulement avec les produits végétaux 103.94%

### Conclusion Q1/Q2/Q3
7,10% de la population mondiale en 2017 est en sous-nutrition alors que d'après les calculs à partir de la disponibilité alimentaire mondiale, celle-ci pourrait théoriquement couvrir plus de la totalité (125%) des besoins alimentaires en quantité suffisante et en qualité appropriée. Ces besoins pourraient même être couverts seulement avec la disponibilité alimentaires d'origine végétale.

# Q4. Quelle est l’utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine.

Note : 
- Disponibilité intérieure = Aliments pour animaux + Autre + Nourriture + Pertes + Semences + Traitement
- Disponibilité intérieure = Production + Importation - Exportation + Variation de stock

In [7]:
# Garder les colonnes pertinentes
q4 = dispo_a.drop(['Produit',
                   'Origine',
                   'Disponibilité alimentaire (Kcal/personne/jour)',
                   'Disponibilité alimentaire en quantité (kg/personne/an)',
                   'Disponibilité de matière grasse en quantité (g/personne/jour)',
                   'Disponibilité de protéines en quantité (g/personne/jour)'],
                  axis=1)

somme = q4['Disponibilité intérieure'].sum()
ali_h = q4['Nourriture'].sum()/somme*100
ali_a = q4['Aliments pour animaux'].sum()/somme*100
pertes = q4['Pertes'].sum()/somme*100
autre = q4['Autres Utilisations'].sum()/somme*100
semences = q4['Semences'].sum()/somme*100
traitement = q4['Traitement'].sum()/somme*100

# Résultat
print("L'utilisation de la disponibilité intérieure se répartit de cette façon :")
print("- alimentation humaine {:.2f}%".format(ali_h))
print("- alimentation animale {:.2f}%".format(ali_a))
print("- alimentation perdue {:.2f}%".format(pertes))
print("- le reste se répartit entre d'autres utilisations (dont semences et traitement) {:.2f}%"
      .format(semences+traitement+autre))

L'utilisation de la disponibilité intérieure se répartit de cette façon :
- alimentation humaine 49.51%
- alimentation animale 13.24%
- alimentation perdue 4.61%
- le reste se répartit entre d'autres utilisations (dont semences et traitement) 32.74%

# Q5. Requêtes additionnelles
### Q5.1 Notes et recherches de Julien:
_Lors de mes recherches, j’ai découvert des chiffres intéressants sur l’utilisation des céréales, notamment la répartition entre l’alimentation humaine (colonne Nourriture) et l’alimentation pour animaux. La liste des céréales peut être trouvée en allant fouiller un peu dans l’onglet Bilans alimentaires, sur le lien http://www.fao.org/faostat/fr/#data._

In [8]:
# Importation des données céréales sur le site donné
cereales = pd.read_csv(
    'BilansAlimentaires_F_Toutes_les_Données.csv',
    sep=',',
    encoding='latin1'
)

c = cereales.loc[
    (cereales['Produit'] == 'Céréales, Autres'),
    ['Élément', 'Y2017']
]

c = c.rename(columns={'Y2017': 'Céréales (milliers de tonnes)'})

# Répartition par pourcentage
ani = c[c['Élément'] == 'Aliments pour animaux']['Céréales (milliers de tonnes)'].sum()\
/c[c['Élément'] == 'Disponibilité intérieure']['Céréales (milliers de tonnes)'].sum() * 100

hum = c[c['Élément'] == 'Nourriture']['Céréales (milliers de tonnes)'].sum()\
/c[c['Élément'] == 'Disponibilité intérieure']['Céréales (milliers de tonnes)'].sum() * 100

# Résultat
print("Utilisation des céréales pour l'alimentation animale: {:.2f}%".format(ani))
print("Utilisation des céréales pour l'alimentation humaine: {:.2f}%".format(hum))

Utilisation des céréales pour l'alimentation animale: 62.12%
Utilisation des céréales pour l'alimentation humaine: 26.28%

Sur l'ensemble des utilisations faites pour les céréales on remarque que l'utilisation est bien plus élevée pour alimenter les animaux (62%) que les hommes (26%).

### Q5.2 Notes et recherches de Julien (suite):
_Enfin, je me souviens d’un exemple étonnant d’utilisation du manioc par la Thaïlande aux égards de la proportion de personnes en sous-nutrition. Il serait intéressant d’aller à nouveau y jeter un coup d’œil, de mémoire ça concernait l’exportation par rapport à la production._

Population en sous-nutrition en Thaïlande

In [9]:
thai = filt_2017[filt_2017['Zone'] == 'Thaïlande']
thai = thai.merge(
    filt_sn_2017[['Zone', 'Population sous-alimentée (millions)']],
    on='Zone',
    how='left'
)
thai['Pourcentage sous-nutrion'] = (thai['Population sous-alimentée (millions)']
                                    / thai['Population(millions)']
                                    * 100)
thai.head()

,index,Zone,Année,Population(millions),Population sous-alimentée (millions),Pourcentage sous-nutrion
0,1312,Thaïlande,2017,69.20981,6.2,8.958268

Utilisation du manioc en Thaïlande

In [10]:
f_thai = dispo_a['Zone'] == 'Thaïlande'
f_manioc = dispo_a['Produit'] == 'Manioc'
manioc = dispo_a[f_thai & f_manioc].loc[:,
                                        ['Zone',
                                         'Produit',
                                         'Exportations - Quantité',
                                         'Importations - Quantité',
                                         'Production']]
manioc['Export %'] = (manioc['Exportations - Quantité']
                      / manioc['Production']
                      * 100)
manioc['Import %'] = (manioc['Importations - Quantité']
                      / manioc['Production']
                      * 100)
manioc.head()

,Zone,Produit,Exportations - Quantité,Importations - Quantité,Production,Export %,Import %
13809,Thaïlande,Manioc,25214.0,1250.0,30228.0,83.41273,4.135239

La Thaïlande exporte la majorité de sa production de Manioc (soit 83%), alors presque 9% de sa population est en sous-nutrition.

# PARTIE 2

_Je souhaiterais avoir une étude un peu plus fine pour chacun des pays. Par exemple, j’aimerais que tu puisses nous donner:_

_- les pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017_

_- ceux qui ont le plus bénéficié d’aide depuis 2013_

_- ceux ayant le plus/le moins de disponibilité/habitant, etc., et toutes les infos que tu trouverais utiles pour mettre en relief les pays qui semblent être le plus en difficulté, au niveau alimentaire._

# Q6. Pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017

In [11]:
df_2017 = pd.merge(filt_sn_2017,
                   filt_2017,
                   on='Zone',
                   how='left')
df_2017 = df_2017.drop(
    ['Année_x',
     'Année_y',
     'index'],
    axis=1
)
df_2017['Proportion de pers. sous alimentées'] = (df_2017['Population sous-alimentée (millions)']
                                                  / df_2017['Population(millions)']
                                                  * 100)
df_2017.sort_values(by='Proportion de pers. sous alimentées',
                    ascending=False,
                    inplace=True)
df_2017.reset_index().head(10)

,index,Zone,Population sous-alimentée (millions),Population(millions),Proportion de pers. sous alimentées
0,78,Haïti,5.3,10.982366,48.259182
1,157,République populaire démocratique de Corée,12.0,25.429825,47.188685
2,108,Madagascar,10.5,25.570512,41.062924
3,103,Libéria,1.8,4.702226,38.279742
4,100,Lesotho,0.8,2.091534,38.249438
5,183,Tchad,5.7,15.016753,37.957606
6,161,Rwanda,4.2,11.980961,35.055619
7,121,Mozambique,9.4,28.649018,32.810898
8,186,Timor-Leste,0.4,1.243258,32.173531
9,0,Afghanistan,10.5,36.296113,28.928718

# Q7. Ceux qui ont le plus bénéficié d’aide depuis 2013

In [12]:
aide = pd.read_csv('aide_alimentaire.csv')
grp = aide.groupby(['Pays bénéficiaire'])
(grp['Valeur']
 .sum()
 .reset_index()
 .sort_values(by='Valeur', ascending=False)
 .head(10))

                   Pays bénéficiaire   Valeur
50         République arabe syrienne  1858943
75                          Éthiopie  1381294
70                             Yémen  1206484
61                     Soudan du Sud   695248
60                            Soudan   669784
30                             Kenya   552836
3                         Bangladesh   348188
59                           Somalie   292678
53  République démocratique du Congo   288502
43                             Niger   276344

# Q8. Ceux ayant le plus/le moins de disponibilité/habitant, etc.,

_Toutes les infos que tu trouverais utiles pour mettre en relief les pays qui semblent être le plus en difficulté, au niveau alimentaire._

In [13]:
df_q8 = dispo_a.loc[:, ['Zone', 'Disponibilité alimentaire (Kcal/personne/jour)']]
df_q8 = (df_q8
         .groupby(['Zone'])
         .agg({'Disponibilité alimentaire (Kcal/personne/jour)': 'sum'}))
df_q8 = df_q8.merge(df_2017, on='Zone', how='left')

Les 10 pays ayant le plus de disponibilité alimentaire par habitant

In [14]:
(df_q8
 .sort_values('Disponibilité alimentaire (Kcal/personne/jour)',
              ascending=False)
 .head(10))

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Population sous-alimentée (millions),Population(millions),Proportion de pers. sous alimentées
11,Autriche,3770.0,NaN,8.819901,NaN
16,Belgique,3737.0,NaN,11.419748,NaN
159,Turquie,3708.0,NaN,81.116450,NaN
171,États-Unis d'Amérique,3682.0,NaN,325.084756,NaN
74,Israël,3610.0,NaN,8.243848,NaN
72,Irlande,3602.0,NaN,4.753279,NaN
75,Italie,3578.0,NaN,60.673701,NaN
89,Luxembourg,3540.0,NaN,0.591910,NaN
168,Égypte,3518.0,4.6,96.442591,4.769677
4,Allemagne,3503.0,NaN,82.658409,NaN

Les 10 ayant le moins de disponibilité alimentaire par habitant

In [15]:
(df_q8
 .sort_values('Disponibilité alimentaire (Kcal/personne/jour)')
 .head(10))

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Population sous-alimentée (millions),Population(millions),Proportion de pers. sous alimentées
128,République centrafricaine,1879.0,NaN,4.596023,NaN
166,Zambie,1924.0,NaN,16.853599,NaN
91,Madagascar,2056.0,10.5,25.570512,41.062924
0,Afghanistan,2087.0,10.5,36.296113,28.928718
65,Haïti,2089.0,5.3,10.982366,48.259182
133,République populaire démocratique de Corée,2093.0,12.0,25.429825,47.188685
151,Tchad,2109.0,5.7,15.016753,37.957606
167,Zimbabwe,2113.0,NaN,14.236595,NaN
114,Ouganda,2126.0,NaN,41.166588,NaN
154,Timor-Leste,2129.0,0.4,1.243258,32.173531